.ycm_extra_conf.py*
.vimrc
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
doc/
bin/
**/assets/*
glLoadGen/
*.tar.gz
*.a
examples/solar_system/solar_system
examples/buddha/buddha
**/assets/*
include/obj_parser.h
include/stack.hh
include/gl_core_*.h
src/gl_core*.cpp
src/obj_*.cpp
src/stack.hh
*.bmp
*.log
*.txt
*.bin
