.ycm_extra_conf.py*
.vimrc
CMakeCache.txt
CMakeFiles
*.cmake
Makefile
doc/
bin/
**/assets/*
glLoadGen/
*.tar.gz
*.a
examples/solar_system/solar_system
examples/glfw_window/glfw_window
examples/qt5_window/qt5_window
examples/qt5_widget/qt5_widget
**/assets/*
include/obj_parser.h
include/stack.hh
include/gl_core_*.h
src/gl_core*.cpp
src/obj_*.cpp
src/stack.hh
build/
*.bmp
*.log
*.bin
*.cbp
*.user
*_automoc.cpp
**/moc_*.cpp
**/ui_*.h
